<div  class="border-bottom row"  style="margin-bottom:16px; padding-bottom=8px;">
    <div class="col-9">
        <div><b>First Name: </b>{{customer['first_name']}}</div>
        <div><b>Last Name: </b>{{customer['last_name']}}</div>
        <div><b>Email: </b>{{customer['email']}}</div>
        <div><b>Phone Number: </b>{{customer['phone']}}</div>
        <div><b>Address: </b>{{customer['address']}}</div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary">Explore</button>
    </div>
</div>