<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telco Systems</title>
    {% include 'bootstrap.html' %}

</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1>Customers</h1>
        {% for customer in customers %}
            {% include 'customerdetails.html' %}
        {% endfor %}
    </div>
    <div class="container">
        <h1>Subscription</h1>
        {% for subscription in subscriptions %}
            {% include 'subscriptions.html' %}
<!--        <p>(No Subscription)</p>-->
        {% endfor %}
    </div>
    <div class="container">
        <h1>Service Requests</h1>
        <p>(No Pending Requests)</p>
    <div class="col-3">
        <a href="{{url_for('create_new_request')}}" type="submit" class="btn btn-outline-primary">Raise Request?</a>
    </div>
        {% for request in service_requests %}
            {% include 'servicerequests.html' %}
        {% endfor %}
    </div>
    <div class="container">
        <h1>Plans</h1>
        {% for plan in plans %}
            {% include 'planItems.html' %}
        {% endfor %}
    </div>
    {% include 'footer.html' %}
</body>
</html>