<div  class="border-bottom row"  style="margin-bottom:16px; padding-bottom=8px;">
    <div class="col-9">
        <h4>{{plan['plan_name']}}</h4>
        <div><b>Download Speed: </b> {{plan['download_speed']}}</div>
        <div><b>Upload Speed: </b> {{plan['upload_speed']}}</div>
        <div><b>Validity: </b> {{plan['validity']}}</div>
        <div><b>Price: </b> {{plan['price']}}</div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary">Explore</button>
    </div>
</div>