<h4>Raise Service Request</h4>
<form>
    <div class="mb-2">
        <label>Full Name</label><br>
        <input type="text" name="full_name" placeholder="Bruce Wayne">
    </div>
    <div class="mb-2">
        <label>Email</label><br>
        <input type="email" name="email" placeholder="reach.bruce_wayne@gmail.com">
    </div>
    <div class="mb-2">
        <label>Phone No.</label><br>
        <input type="number" name="phone" placeholder="9194876235">
    </div>
    <div class="mb-2">
        <label>Issue Description</label><br>
        <input type="text" name="description" placeholder="Bruce Wayne">
    </div>
    <input type="submit" name="submit">

</form>
