<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telco Systems</title>
    {% include 'bootstrap.html' %}

</head>
<body>
    {% include 'nav.html' %}
    <div class="container" align="center">
        <h4>Raise Service Request</h4>
        <form action="/new/request/raise" method="post">
            <div class="mb-2">
                <label>Full Name</label><br>
                <input type="text" name="full_name" placeholder="Bruce Wayne">
            </div>
            <div class="mb-2">
                <label>Email</label><br>
                <input type="email" name="email" placeholder="reach.bruce_wayne@gmail.com">
            </div>
            <div class="mb-2">
                <label>Phone No.</label><br>
                <input type="number" name="phone" placeholder="9194876235">
            </div>
            <div class="mb-2">
                <label>Issue Description</label><br>
                <input type="text" name="description" placeholder="Internet Issue">
            </div>
            <a href="{{url_for('add_service_request_to_db')}}" type="submit" class="btn btn-outline-primary">Submit</a>

        </form>
    </div>
    {% include 'footer.html' %}
</body>
