<div  class="border-bottom row"  style="margin-bottom:16px; padding-bottom=8px;">


    <div class="col-9">
<!--        <h4>{{request['name']}}</h4>-->
        <div><b>Issue Description: </b> {{request['issue_description']}}</div>
        <div><b>Issue Status: </b> {{request['issue_status']}}</div>
        <div><b>Issue Date: </b> {{request['issue_date']}}</div>
        <div><b>Technician Assigned: </b> {{request['assigned_technician']}}</div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary">Close/Re-Open</button>
    </div>

</div>